@import "tailwindcss";

@custom-variant dark (&:is(.dark *));

:root {
  /* Light Theme */
  --background: #F3E5DC;
  --foreground: #DCC5AC;
  --text-primary: #382F2D;
  --accent: #D25644;
  --success: #40A565;
  --error: #E72420;
}

.dark {
  /* Dark Theme */
  --background: #24201D;
  --foreground: #382F2D;
  --text-primary: #F3E5DC;
  --accent: #E07A6B;
  --success: #4ADE80;
  --error: #EE3F3F;
}

/* Map your custom variables to Tailwind's utility classes */
@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-text-primary: var(--text-primary);
  --color-accent: var(--accent);
  --color-success: var(--success);
  --color-error: var(--error);
}

@layer base {
  body {
    @apply bg-background text-text-primary;
  }
}